.sidebar {
    flex: 2;
    height: calc(100vh - 50px);
    background-color: #191414;
    color: #ffffff;
}

.sidebarWrapper {
    padding: 20px;
}

.sidebarList {
    padding: 0;
    margin: 0;
    list-style: none;
}

.sidebarListItem {
    display: flex;
    height: 50px;
    width: 90%;
    align-items: center;
    margin-bottom: 10px;
    border-radius: 5px;
    padding-left: 10px
}

.sidebarListItem:hover {
    background-color: #1db954;
}

.sidebarListIcon {
    margin-right: 15px;
}

.sidebarHr {
    margin: 20px 0;
}